# render.yaml
# Blueprint for deploying the OptimaCloud application with a Node.js backend.
services:
  - type: web
    name: optimacloud
    runtime: node
    plan: free # Change this if you use a paid plan.
    buildCommand: "yarn install && yarn build"
    startCommand: "yarn start"
    envVars:
      - key: API_KEY
        sync: false # Set this in the Render dashboard
      - key: EMAILJS_PUBLIC_KEY
        sync: false # Set this in the Render dashboard
      - key: EMAILJS_SERVICE_ID
        sync: false # Set this in the Render dashboard
      - key: EMAILJS_TEMPLATE_ID
        sync: false # Set this in the Render dashboard